<h2>Signup Page</h2> 
<form class="" action="/users" method="post">
  <label for="name">name:</label>
  <input type="text" name="name" value="">
  <label for="partner_name">partner name:</label>
  <input type="text" name="partner_name" value="">
  <label for="email">Email:</label>
  <input type="text" name="email" value="">
  <label for="password">Password:</label>
  <input type="text" name="password" value="">
  <input type="submit" name="" value="Create User">
 
 
</form>  