<div class="container">
  <header><img src="https://www.foodiesfeed.com/wp-content/uploads/2015/09/summer-barbeque-feast.jpg" class="img-responsive main-image" width="500"</img> <a href="/login"><b>Log in</b></a> OR <a href="/signup"><b>Sign up</b></a></header> 
  <div class="col-md-8 col-md-offset-2">
    <h1>Joint Reviews</h1>

    <div class="content">
      <p>Welcome to the Joint Reviews webpage. This is the spot where couples can sign up for a joint account to post reviews on local or international restaurants they have eaten at.  
      This will help other couples make better decision on where to eat for ocassions such as dates, anniversaries, or birthdays. You can browse and read reviews written by other fellow couples and get to know the local eateries in your town or any other place you are planning to visit!</p>
    </div>
    

    <div class="sidebar">
      <h3>The Go-To Website for Honest Couple Reviews</h3>
      
      <ul style="list-style-type:circle;">
        <li>1. Create an Account</li>
        <li>2. Specify the restaurant you've eaten at</li>
        <li>3. Post an unbiased review of what you and your partner thought of the food, service, and ambiance of the restaurant</li>
        <li>4. Browse and read reviews posted by other couples to make an informed decision about where to eat</li>
      </ul>
    </div>
    

  </div>
  
</div>

